body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
  #score {
    position: absolute;
    top: 20px;
    font-size: 24px;
    font-weight: bold;
  }
  