body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #202028;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
}

canvas {
    border: 1px solid #ffffff;
}

#scoreboard {
    position: absolute;
    top: 20px;
    right: 20px;
}

#score {
    display: inline;
}